<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单信息</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 10px">
        <h4 style="text-align: center;font-weight: bold">Django支付宝支付案例</h4>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered">
                <tr style="text-align: center">
                    <th style="text-align: center">订单ID</th>
                    <th style="text-align: center">订单号</th>
                    <th style="text-align: center">订单状态</th>
                    <th style="text-align: center">商品名称</th>
                    <th style="text-align: center">商品价格</th>
                </tr>
                {% for row in order_obj %}
                    <tr style="text-align: center">
                        <td>{{ row.id }}</td>
                        <td>{{ row.order_number }}</td>
                        <td>{{ row.get_order_status_display }}</td>
                        <td>{{ row.course.name }}</td>
                        <td>{{ row.course.price }}</td>
{#                        <td>{{ row.username.username }}</td>#}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

</body>
</html>