{% extends 'usercenter-base.html' %}
{% block title %}我的收藏{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <li><a href="{% url 'index' %}">首页</a>></li>
    <li><a href="{% url 'users:info' %}">个人中心</a>></li>
    <li><a href="">我的收藏</a></li>
{% endblock %}

{% block right_form %}
    <div class="right">
        <div class="user_center_my_course">
            收藏课程
        </div>
        <div class="companycenter">
            <div style="width: 100%;min-height: 960px;">
                {% for course in course_list %}
                    <div class="detail_recommand_box fl"
                         style="margin: 20px 0px 0 20px;box-shadow: 0 8px 16px 0 rgba(28,31,33,.1);width: 275px;height: 270px;">
                        <div class="index_new_course_box"
                             style="height: 100%;width: 100%;margin: 0;padding: 0">
                            <a href="{% url 'course:detail' course.id %}"><img
                                    src="{{ course.image.url }}"
                                    alt=""
                                    id="index_newcourse_img"></a>
                            <div id="index_new_course_title_box">{{ course.name }}</div>
                            <div id="index_new_course_desc_box">{{ course.get_degree_display }}&nbsp;&nbsp;&nbsp;&nbsp;学习人数:&nbsp;{{ course.students }}人&nbsp;&nbsp;&nbsp;&nbsp;时长:&nbsp;{{ course.learn_times }}</div>
                            <div id="index_new_course_price_box">{% if course.price == 0 %}免费
                                {% else %}{{ course.price }}¥{% endif %}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block custom_js %}
{% endblock %}

